<p class="shadow">
	{{burger_name}}

	<button class="devour btn btn-outline-warning" data-id="{{id}}" data-devour="{{devoured}}">
		{{#if devoured}}DEVOUR!{{else}}REGURGITATE{{/if}}
	</button>
	{{#unless devoured}}
	<button class="delete-burger btn btn-outline-warning" data-id="{{id}}">
		DELETE
	</button>
	{{/unless}}
</p>